In [ ]:
def main() :
    print("20cm 피자 2개의 면적 :", get_area(20) + get_area(20))
    print("30cm 피자 1개의 면적 :", get_area(30))

def get_area(r) :
    if r > 0 :
        area = 3.14*r**2

    else :
        area = 0

    return area

main()

20cm 피자 2개의 면적 :  2512.0
30cm 피자 1개의 면적 :  2826.0

In [ ]:
def set_r(r):
    r = 100
    return

r = 20
set_r(r)

print(r)

20

In [ ]:
def greet(name, msg = "별일없죠?"):
    print("안녕", name + ', ' + msg)

greet("영희")

안녕 영희, 별일없죠?

In [ ]:
def get_sum(start, end):
    sum = 0
    for i in range(start, end + 1):
        sum += i
    return sum

x = get_sum(1, 10)
y = get_sum(1, 20)

print(x, y)

55 210

In [ ]:
def varfunc(*args):
    print(*args)

print("하나의 값으로 호출")
varfunc(10)

print("여러개의 값으로 호출")
varfunc(10, 20, 30)

하나의 값으로 호출
10
여러개의 값으로 호출
10 20 30

In [ ]:
def myfunc(**kwargs):
    result = ""

    for arg in kwargs.values():
        result += arg
    return result

print(myfunc(a = "Hi!", b = "Mr.", c = "Kim"))

Hi!Mr.Kim

In [ ]:
def display(msg, count):
    i = 0

    for i in range(0, count):
        print(msg)
        i += 1

display("환영합니다.", 5)

환영합니다.
환영합니다.
환영합니다.
환영합니다.
환영합니다.

In [ ]:
def weeklyPay(rate, hour) :
    pay = 0

    if(hour > 30):
        pay = rate * 30 + 1.5 * rate * (hour - 30)

    else :
        pay = hour * rate

    return pay

r = int(input("시급을 입력하시오 : "))
h = int(input("근무 시간을 입력하시오 : "))

print(weeklyPay(r, h))

시급을 입력하시오 : 10000
근무 시간을 입력하시오 : 38
420000.0

In [ ]:
def get_info():
    name = input("이름 : ")
    age = int(input("나이 : "))

    return name, age

st_name, st_age = get_info()

print(f"이름은 {st_name}이고, 나이는 {st_age}살 입니다.")

이름 : sss
나이 : 5
이름은 sss이고, 나이는 5살 입니다.

In [ ]:
def ftoc(f) :
    C = (f - 32) * (5 / 9)
    return C

def ctof(c) :
    F = (c * (9 / 5)) + 32
    return F

num = 0

while (num != 3) :
    print("1. 섭씨 온도 -> 화씨 온도")
    print("2. 화씨 온도 -> 섭씨 온도")
    print("3. 종료")

    num = int(input("메뉴를 선택하세요. : "))

    if(num == 1):
        c = float(input("섭씨 온도를 입력하시오 : "))
        print(f"화씨 온도 = {ctof(c)}")

    elif(num == 2):
        f = float(input("화씨 온도를 입력하시오 : "))
        print(f"섭씨 온도 = {ftoc(f)}")

    elif (num == 3):
        num = 3

1. 섭씨 온도 -> 화씨 온도
2. 화씨 온도 -> 섭씨 온도
3. 종료
메뉴를 선택하세요. : 1
섭씨 온도를 입력하시오 : 37.0
화씨 온도 = 98.60000000000001
1. 섭씨 온도 -> 화씨 온도
2. 화씨 온도 -> 섭씨 온도
3. 종료
메뉴를 선택하세요. : 3

In [ ]:
def get_peri(radius = 5.0):

    size = 2.0 * 3.141692 * radius

    return size

print(get_peri())
print(get_peri(4.0))

31.416919999999998
25.133536

In [ ]:
def sum(num1, num2) :
    sum = num1 + num2
    print(f"{num1} + {num2} = {sum}")

def min(num1, num2) :
    min = num1 - num2
    print(f"{num1} + {num2} = {min}")

def mul(num1, num2) :
    mul = num1 * num2
    print(f"{num1} + {num2} = {mul}")

def div(num1, num2) :
    div = num1 / num2
    print(f"{num1} + {num2} = {div}")

a = int(input("첫 번째 정수를 입력하시오 : "))
b = int(input("두 번째 정수를 입력하시오 : "))

sum(a, b)
min(a, b)
mul(a, b)
div(a, b)

첫 번째 정수를 입력하시오 : 10
두 번째 정수를 입력하시오 : 20
10 + 20 = 30
10 + 20 = -10
10 + 20 = 200
10 + 20 = 0.5

In [ ]:
def calc():
    num1 = int(input("첫 번째 정수를 입력하시오 : "))
    num2 = int(input("두 번째 정수를 입력하시오 : "))

    sum = num1 + num2
    min = num1 - num2
    mul = num1 * num2
    div = num1 / num2

    print(f"{sum}, {min}, {mul}, {div}이 반환되었습니다.")

calc()

첫 번째 정수를 입력하시오 : 10
두 번째 정수를 입력하시오 : 20
30, -10, 200, 0.5이 반환되었습니다.

In [ ]:
def getGrade(score):
    grade = ""

    if score >= 90 :
        grade = "A"

    elif score >= 80 :
        grade = "B"

    elif score >= 70 :
        grade = "C"

    elif score >= 60 :
        grade = "D"

    else :
        grade = "F"

    return grade

s = int(input("점수를 입력하세요 : "))
print(f"성적은 {getGrade(s)}입니다.")

점수를 입력하세요 : 83
성적은 B입니다.

In [ ]:
questions = ['name', 'quest', 'color']
answers = ['Kim', '파이썬', 'blue']

for q, a in zip(questions, answers) :

    print(f"What is your {q}? It is {a}")

What is your name? It is Kim
What is your quest? It is 파이썬
What is your color? It is blue