In [ ]:
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90]

print(numbers[::-1])

[90, 80, 70, 60, 50, 40, 30, 20, 10]

In [ ]:
lst = [1, 2, 3, 4, 5, 6, 7, 8]
lst[0:3] = ['white', 'blue', 'red']

lst

['white', 'blue', 'red', 4, 5, 6, 7, 8]

In [ ]:
lst = [1, 2, 3, 4, 5, 6, 7, 8]
lst[::2] = [99, 99, 99, 99]

lst

[99, 2, 99, 4, 99, 6, 99, 8]

In [ ]:
lst = [1, 2, 3, 4, 5, 6, 7, 8]
lst[:] = []

lst

[]

In [ ]:
numbers = list(range(0, 10))
numbers

del numbers[-1]

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
s = "Monty Python"

print(s[0])
print(s[6:10])
print(s[-12:-7])

M
Pyth
Monty

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
reversed = numbers[::-2]
print(reversed)

[10, 8, 6, 4, 2]

In [ ]:
numbers = list(range(1, 10))
numbers[1:] = []
print(numbers)

[1]

In [ ]:
def func1(x):
    x = 42
    print("x = ", x, "id = ", id(x))

y = 10
func1(y)
print("y = ", y, "id = ", id(y))

x =  42 id =  136659696764432
y =  10 id =  136659696763408

In [ ]:
def func2(list):
    list[0] = 99

values = [0, 1, 1, 2, 3, 5, 8]
func2(values)
print(values)

[99, 1, 1, 2, 3, 5, 8]

In [ ]:
def modify(list):
    n_list = []
    for i in list:
        j = i + (i * 0.3)
        n_list.append(j)
    return n_list

mon = [200, 250, 300, 280, 500]
print("인상 전 = ", mon)
print("인상 후 = ", modify(mon))

인상 전 =  [200, 250, 300, 280, 500]
인상 후 =  [260.0, 325.0, 390.0, 364.0, 650.0]

In [ ]:
#리스트 함축
squares = [x*x for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
prices = [135, -545, 922, 356, -992, 217]
mprices = [i if i > 0 else 0 for i in prices]

mprices

[135, 0, 922, 356, 0, 217]

In [ ]:
words = ["All", "good", "things", "must", "come", "to", "an", "end."]
letters = [w[0] for w in words]

letters

['A', 'g', 't', 'm', 'c', 't', 'a', 'e']

In [ ]:
numbers = [x + y for x in ['a', 'b', 'c'] for y in ['x', 'y', 'z']]

numbers

['ax', 'ay', 'az', 'bx', 'by', 'bz', 'cx', 'cy', 'cz']

In [ ]:
mul23 = [i for i in range(0, 100) if((i%2 == 0) and (i%3 == 0))]

mul23

[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [ ]:
s = [
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10],
    [11, 12, 13, 14, 15]
]

print(s)

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]

In [ ]:
rows = 3
cols = 5

s = []

for row in range(rows):
    s += [[0]*cols]

print("s = ", s)

s =  [[0, 0, 0, 0, 0], [0, 0, 0, 0, 0], [0, 0, 0, 0, 0]]

In [ ]:
s = [
    [1, 2, 3, 4, 5],
    [6, 7, 8, 9, 10],
    [11, 12, 13, 14, 15]
]

rows = len(s)
cols = len(s[0])

for r in range(rows):
    for c in range(cols):
        print(s[r][c], end = ", ")

    print()

1, 2, 3, 4, 5,
6, 7, 8, 9, 10,
11, 12, 13, 14, 15,

In [ ]:
fruits = ()
fruits = ("apple", "banana", "grape")

results = fruits[1]
results

'banana'

In [ ]:
fruits = "apple", "banana", "grape"

results = fruits[1]
results

'banana'

In [ ]:
fruits = ("apple", ) #쉼표가 있어야지만 튜플이 됨

print(type(fruits))
print(fruits)

<class 'tuple'>
('apple',)

In [ ]:
myList = [1, 2, 3, 4]
myTuple = tuple(myList)
myTuple

(1, 2, 3, 4)

In [ ]:
myTuple = [1, 2, 3, 4]
myList = tuple(myTuple)
myList

(1, 2, 3, 4)

In [ ]:
fruits = ("apple", "banana", "grape")
fruits += ("pear", "kiwi")

fruits

('apple', 'banana', 'grape', 'pear', 'kiwi')

In [ ]:
numbers = [10, 20, 30]
numbers += (40, 50)

numbers

[10, 20, 30, 40, 50]