In [ ]:
capitals = {"korea" : "seoul", "usa" : "washington", "uk" : "london"}

capitals["korea"]

'seoul'

In [ ]:
capitals["france"]

KeyError: 'france'

In [ ]:
capitals.get("france", "none")

'none'

In [ ]:
if "france" in capitals:
    print("yes")

else:
    print("none")

none

In [ ]:
capitals["france"] = "paris"
capitals.get("france", "none")
print(capitals)

{'korea': 'seoul', 'usa': 'washington', 'uk': 'london', 'france': 'paris'}

In [ ]:
capitals.update({"germany" : "berin", "japan" : "tokyo"})
print(capitals)

{'korea': 'seoul', 'usa': 'washington', 'uk': 'london', 'france': 'paris', 'germany': 'berin', 'japan': 'tokyo'}

In [ ]:
if "uk" in capitals:
    capitals.pop("uk")

print(capitals)

{'korea': 'seoul', 'usa': 'washington', 'france': 'paris', 'germany': 'berin', 'japan': 'tokyo'}

In [ ]:
for key in capitals:
    print(key, end = " ")

for key in capitals:
    print(key, ":", capitals[key])

korea usa france germany japan korea : seoul
usa : washington
france : paris
germany : berin
japan : tokyo

In [ ]:
values = [1, 2, 3, 4, 5, 6]

dic = {x:x**2 for x in values if x%2 == 0}

print(dic)

{2: 4, 4: 16, 6: 36}

In [ ]:
english_dict = {}
english_dict["one"] = "하나"
english_dict["two"] = "둘"
english_dict["three" ] = "셋"

word = input("단어를 입력 : ")
print(english_dict[word])

단어를 입력 : one
하나

In [ ]:
diction = {}
word = ""
meaning = ""
num = 0

while(num != 3):

    print("1. 단어 추가\n2. 단어 검색 \n3. 종료")
    num = int(input("메뉴를 선택하세요 : "))

    if num == 1:
        word = input("추가할 영어 단어를 입력하세요 : ")
        meaning = input("한글 뜻을 입력하세요 : ")

        diction[word] = meaning

        print("단어가 추가되었습니다.")

    elif num == 2:
        word = input("검색할 단어를 입력하세요 : ")
        print(word + "는 " + diction.get(word, "존재하지 않습니다."))

    else:
        print("다시 입력해주세요.")

print("프로그램을 종료합니다.")

1. 단어 추가
2. 단어 검색
3. 종료
메뉴를 선택하세요 : 1
추가할 영어 단어를 입력하세요 : apple
한글 뜻을 입력하세요 : 사과
단어가 추가되었습니다.
1. 단어 추가
2. 단어 검색
3. 종료
메뉴를 선택하세요 : 2
검색할 단어를 입력하세요 : apple
apple는 사과
1. 단어 추가
2. 단어 검색
3. 종료
메뉴를 선택하세요 : 2
검색할 단어를 입력하세요 : tree
tree는 존재하지 않습니다.
1. 단어 추가
2. 단어 검색
3. 종료
메뉴를 선택하세요 : 3
프로그램을 종료합니다.

In [ ]:
class Student:
    def __init__(self, name = None, num = "", sel = 0, book = {}):
        self.__name = name
        self.__num = num
        self.__sel = sel
        self.__book = book

    def getBook(self, book, name):
        print(name + "는 " + book.get(name, "존재하지 않습니다."))

        return

    def makeBook(self, name, num):
        book[name] = num

        return book

    def getName(self):
        name = input("이름 : ")

        return name

    def getNum(self):
        num = input("전화번호 : ")

        return num

    def getSel(self):
        print("1. 연락처 추가\n2. 연락처 삭제\n3. 연락처 검색\n4. 연락처 출력\n5. 연락처 수정\n6. 종료")
        sel = int(input("메뉴 항목을 선택하시오 : "))

        return sel

    def getDel(self, book):
        name = input("삭제할 연락처의 이름을 입력하시오 : ")
        if name in book:
            book.pop(name)
            print(name + " 삭제 완료")

        else:
            print("존재하지 않는 연락처입니다.")

        return book

    def getDif(self, name, book):
        n_num = input("바꿀 " + name + "의 연락처를 입력하시오 : ")
        book[name] = n_num

        return book

a = Student()
sel = 0
book = {}
while (sel != 6):
    sel = a.getSel()
    if sel == 1:
        name = a.getName()
        num = a.getNum()
        book.update({name : num})

    elif sel == 2:
        a.getDel(book)
        book.update(book)

    elif sel == 3:
        g_name = a.getName()
        a.getBook(book, g_name)

    elif sel == 4:
        print(book)

    elif sel == 5:
        d_name = a.getName()
        a.getDif(d_name, book)

    else:
        print("다시 입력해주세요")

print("종료되었습니다")

1. 연락처 추가
2. 연락처 삭제
3. 연락처 검색
4. 연락처 출력
5. 연락처 수정
6. 종료
메뉴 항목을 선택하시오 : 1
이름 : rla
전화번호 : 111
1. 연락처 추가
2. 연락처 삭제
3. 연락처 검색
4. 연락처 출력
5. 연락처 수정
6. 종료
메뉴 항목을 선택하시오 : 5
이름 : rla
바꿀 rla의 연락처를 입력하시오 : 222
1. 연락처 추가
2. 연락처 삭제
3. 연락처 검색
4. 연락처 출력
5. 연락처 수정
6. 종료
메뉴 항목을 선택하시오 : 4
{'rla': '222'}
1. 연락처 추가
2. 연락처 삭제
3. 연락처 검색
4. 연락처 출력
5. 연락처 수정
6. 종료
메뉴 항목을 선택하시오 : 6
다시 입력해주세요
종료되었습니다

In [ ]:
text_data = "create the highest grandest vision"

word_dic = {}
for w in text_data.split():
    if w in word_dic:
        word_dic[w] += 1

    else:
        word_dic[w] = 1

for w, c in word_dic.items():
    print(w, " 의 횟수는 ", c, "번")

create  의 횟수는  1 번
the  의 횟수는  1 번
highest  의 횟수는  1 번
grandest  의 횟수는  1 번
vision  의 횟수는  1 번