In [ ]:
num = '253'
print(num+'번째')

253번째

In [ ]:
num = str(392/1000)
print(num)
print(num[2]+'할'+num[3]+'푼'+num[4]+'리')
print(num[0:4])

0.392
3할9푼2리
0.39

In [ ]:
a = 10
b = 3
c = -50

print(a > b and b > c)
print(a > b or b < c)
print(not(a > b and b > c))

True
True
False

In [ ]:
eng = int(input('영어 점수 : '))
math = int(input('수학 점수 : '))

if eng >= 80 and math >= 80 :
  print('pass')

elif eng < 80 and math < 80 :
  print('fail')

else :
  print('test again')

영어 점수 : 100
수학 점수 : 50
test again

In [ ]:
for i in range(1, 11):
  if i%2 == 1:
    print(i, end = ' ')

1 3 5 7 9

In [ ]:
s = 0

for i in range(1, 11):
  if i%2 == 0:
    s += i

    if i == 10:
      print('%d = ' %i, end = ' ')

    else :
      print('%d + ' %i, end = ' ')

print(s)

2 +  4 +  6 +  8 +  10 =  30

In [ ]:
def cal_bmi(h, w):
  bmi = w/((h/100)**2)

  print('*' * 40)

  if bmi >= 30 :
    print('고도')

  elif bmi >= 25:
    print('비만')

  elif bmi >= 23:
    print('과')

  elif bmi >= 18.5:
    print('정')

  else :
    print('저')

  print('*' * 40)


while(True):

  height = int(input('키 : '))
  weight = int(input('무게 : '))

  cal_bmi(height, weight)

  answer = input('continue? (Y/N) : ')

  if answer == 'n' or answer == 'N':
    print('Off')

    break

키 : 180
무게 : 70
****************************************
정
****************************************
continue? (Y/N) : n
Off

In [ ]:
scores = [['유재석', 99, 96, 89], ['조세호', 92, 100, 73], ['장도연', 65, 88, 90], ['김신영', 95, 78, 98], ['이재훈', 90, 80, 84]]

for i in range(len(scores)):
  s = 0

  for j in range(1, len(scores[i])):
    s += scores[i][j]

  print('%s 학생의 총점은 %d점이고 평균은 %.1f점입니다.' %(scores[i][0], s, s/3))

유재석 학생의 총점은 284점이고 평균은 94.7점입니다.
조세호 학생의 총점은 265점이고 평균은 88.3점입니다.
장도연 학생의 총점은 243점이고 평균은 81.0점입니다.
김신영 학생의 총점은 271점이고 평균은 90.3점입니다.
이재훈 학생의 총점은 254점이고 평균은 84.7점입니다.