In [ ]:
for i in range(2, 10):
  for j in range(1, 10):
    print('{} * {} = {}' .format(i, j, j*i))

  print('\n')

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18


3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27


4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36


5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45


6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54


7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63


8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72


9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [ ]:
 for i in range(1, 6):
   for j in range(1, 6):
     print('*', end = '')

   print()

*****
*****
*****
*****
*****

In [ ]:
 for i in range(1, 11):
   for j in range(1, i+1):
     print('*', end = '')

   print()

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
 for i in range(1, 11):
   for j in range(1, 10-i+1):
     print(' ', end = '')
   for k in range(1, i+1):
     print('*', end = '')
   print()

         *
        **
       ***
      ****
     *****
    ******
   *******
  ********
 *********
**********

In [ ]:
sum = 0
i = 1

while i <= 10:
  sum += i

  print('i의 값 : {} => 합계 : {}' .format(1, sum))

  i+= 1

i의 값 : 1 => 합계 : 1
i의 값 : 1 => 합계 : 3
i의 값 : 1 => 합계 : 6
i의 값 : 1 => 합계 : 10
i의 값 : 1 => 합계 : 15
i의 값 : 1 => 합계 : 21
i의 값 : 1 => 합계 : 28
i의 값 : 1 => 합계 : 36
i의 값 : 1 => 합계 : 45
i의 값 : 1 => 합계 : 55

In [ ]:
sum = 0

for i in range(1, 11):
  sum += i

  if i == 5:
    break

print(sum)

15

In [ ]:
 for i in range(1, 6):
   for j in range(1, 11):
     print('*', end = ' ')

   print()

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [ ]:
i = 0

while i < 5:
  j = 0

  while j < 10:
    print('*', end = ' ')

    j += 1

  print()
  i += 1

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [ ]:
 for i in range(6, 0, -1):
   for j in range(i):
     print(i, end = ' ')

   print()

6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
 for i in range(6):
   for j in range(i+1):
     print(j, end = ' ')

   print()
   i -= 1

0
0 1
0 1 2
0 1 2 3
0 1 2 3 4
0 1 2 3 4 5

In [ ]:
name = ['유재석', '조세호', '최준', '양세형', '장도연']

print(name[0])
print(name[-1])
print(name[0:3])
print(name[0:])
print(name[2:5])
print(name[-4:-1])

유재석
장도연
['유재석', '조세호', '최준']
['유재석', '조세호', '최준', '양세형', '장도연']
['최준', '양세형', '장도연']
['조세호', '최준', '양세형']

In [ ]:
fruit = []
fruit.append('apple')
fruit.append('melon')
fruit.append('peach')
fruit.append('mango')
fruit.append('banana')

fruit.insert(1, 'pineapple')

print(fruit)

fruit.remove('banana')

print(fruit)

fruit.pop(1)

print(fruit)
print(fruit.sort)
print(fruit)

['apple', 'pineapple', 'melon', 'peach', 'mango', 'banana']
['apple', 'pineapple', 'melon', 'peach', 'mango']
['apple', 'melon', 'peach', 'mango']
<built-in method sort of list object at 0x7f6f4b147410>
['apple', 'melon', 'peach', 'mango']