In [ ]:
a = input()
b = input()

print(a + b)
print(a, b)

hi
hello
hihello
hi hello

In [ ]:
name = input()
age = input()

print('\nI am %s. I am %s years old.' %(name, age))
print('I am %s.' %name)
print('I am %s years old.' %age)

a
0

I am a. I am 0 years old.
I am a.
I am 0 years old.

In [ ]:
name = input()
age = int(input())
height = float(input())

print('\nI am %s. I am %d years old. I am %.2f cm tall.' %(name, age, height))
print('I am %s.' %name)
print('I am %d years old.' %age)
print('I am %.2f cm tall.' %height)

a
9
156

I am a. I am 9 years old. I am 156.00 cm tall.
I am a.
I am 9 years old.
I am 156.00 cm tall.

In [ ]:
name = input()
age = int(input())
height = float(input())

print('\nI am %s.' %name)
print('I am %02d years old.' %age)
print('My height is %.1f cm.' %height)

a
9
120

I am a.
I am 09 years old.
My height is 120.0 cm.

In [ ]:
name = 'suzy'
age = 20
hobby = 'piano'

print('My name is {}, I am {} years old. My hobby is {}.' .format(name, age, hobby))

My name is suzy, I am 20 years old. My hobby is piano.

In [ ]:
a = int(input())
b = int(input())
c = (a * b)/2 #삼각형 넓이
d = a * b     #사각형 넓이

print('\n삼각형 넓이 : {}, 사각형 넓이 : {}' .format(c, d))

5
2

삼각형 넓이 : 5.0, 사각형 넓이 : 10

In [ ]:
name = input('이름을 입력하세요 : ')
now = int(input('현재 연도를 입력하세요 : '))
birth = int(input('태어난 연도를 입력하세요 : '))

age = now - birth + 1

print('\n{}님의 현재 나이는 {}세 입니다.' .format(name, age))

이름을 입력하세요 : A
현재 연도를 입력하세요 : 2021
태어난 연도를 입력하세요 : 2003

A님의 현재 나이는 19세 입니다.

In [ ]:
a = input('이름을 입력하세요 : ')
b = int(input('국어 성적을 입력하세요 : '))
c = int(input('영어 성적을 입력하세요 : '))
d = int(input('수학 성적을 입력하세요 : '))

e = b + c + d
f = e/3

print('\n{}님의 점수 합계는 {}점이고, 평균은 {}점 입니다.' .format(a, e, f))

이름을 입력하세요 : a
국어 성적을 입력하세요 : 90
영어 성적을 입력하세요 : 80
수학 성적을 입력하세요 : 70

a님의 점수 합계는 240점이고, 평균은 80.0점 입니다.

In [ ]:
age = int(input('나이를 입력해주세요 : '))

print('\n')

if (age >= 19):
  {
      print('성인')
  }

elif (age >= 14):
  {
      print('청소년')
  }

else :
  {
      print('어린이')
  }

나이를 입력해주세요 : 0


어린이

In [ ]:
a = input("이름을 입력해주세요 : ")
b = int(input("성적을 입력해주세요 : "))

print('\n')

if (b >= 90):
  {
      print("'{}' 학생의 등급은 'A'입니다." .format(a))
  }

elif (b >= 80):
  {
      print("'{}' 학생의 등급은 'B'입니다." .format(a))
  }

elif (b >= 70):
  {
      print("'{}' 학생의 등급은 'C'입니다." .format(a))
  }

elif (b >= 60):
  {
      print("'{}' 학생의 등급은 'D'입니다." .format(a))
  }

else :
  {
      print("'{}' 학생의 등급은 'F'입니다." .format(a))
  }

이름을 입력해주세요 : a
성적을 입력해주세요 : 90


'a' 학생의 등급은 'A'입니다.

In [ ]:
num = int(input('1.일반실 2.특실 : '))

S_A = 18000
S_C = 15000
N_A = 10000
N_C = 7000

adult = int(input('\n성인은 몇 명입니까? : '))
child = int(input('어린이가 몇 명입니까? : '))

if num == 1:
  {
      print('\n요금은 {}원 입니다.' .format((adult*N_A) + (child*N_C)))
  }

elif num == 2:
  {
      print('\n요금은 {}원 입니다.' .format((adult*S_A) + (child*S_C)))
  }

else :
  {
      print('\n다시 시도해주세요.')
  }

1.일반실 2.특실 : 1

성인은 몇 명입니까? : 2
어린이가 몇 명입니까? : 2

요금은 34000원 입니다.

In [ ]:
a = int(input('영어 시험 점수를 입력하세요 : '))
b = int(input('수학 시험 점수를 입력하세요 : '))

if a >= 80 and b >= 80 :
  {
      print('\n합격')
  }

elif a == 80 or b == 80 :
  {
      print('\n재시험 기회 제공')
  }

else :
  {
      print('\n불합격')
  }

영어 시험 점수를 입력하세요 : 50
수학 시험 점수를 입력하세요 : 60
불합격