98 pg

In [ ]:
a = 7
b = 10

c = a+(b*2)
print(c)
c %= 5
print(c)
c **= 3
print(c)
c -= c*10
print(c)

27
2
8
-72

In [ ]:
r = int(input('반지름을 입력하세요 : '))

l = 2 * 3.14 * r
s = 3.14 * (r**2)

print('반지름 : {}cm' .format(r))
print('원의 둘레 : {:.2f}cm' .format(l))
print('원의 넓이 : %.2fcm2' %s)

반지름을 입력하세요 : 10
반지름 : 10cm
원의 둘레 : 62.80cm
원의 넓이 : 314.00cm2

99 pg

In [ ]:
book = int(input('책 값을 입력하세요 : '))
dis = int(input('할인율을 입력하세요(%) : '))
dil = int(input('배송료를 입력하세요 : '))

pay = book - (book * dis / 100) + dil

print('결제 금액 : %d원' %pay)

책 값을 입력하세요 : 15000
할인율을 입력하세요(%) : 15
배송료를 입력하세요 : 3000
결제 금액 : 15750원

In [ ]:
name = input('이름을 입력하세요 : ')
n_year = int(input('현재년을 입력하세요 : '))
b_year = int(input('탄생년을 입력하세요 : '))

age = n_year - b_year + 1

print('%s님의 나이는 %d세 입니다!' %(name, age))

이름을 입력하세요 : 안지영
현재년을 입력하세요 : 2020
탄생년을 입력하세요 : 1997
안지영님의 나이는 24세 입니다!

In [ ]:
year = int(input('연을 입력하세요 : '))
month = int(input('월을 입력하세요 : '))
day = int(input('일을 입력하세요 : '))

print('%04d-%02d-%02d' %(year, month, day))

연을 입력하세요 : 2020
월을 입력하세요 : 1
일을 입력하세요 : 5
2020-01-05

134 pg

In [ ]:
def num(a, b, c):
  print(a!=2)
  print(not(b>=a))
  print(c/2>a*3)

a, b, c = map(int, input('a b c : ').split())

num(a, b, c)

a b c : 2 5 -3
False
False
False

In [ ]:
a = 2
b = 5
c = -3

print(a!=2)
print(not(b>=a))
print(c/2>a*3)

False
False
False

In [ ]:
a = 3
b = 7
c = -4

print(a!=2)
print(not(b>=a))
print(c/2>a*3)

True
False
False

In [ ]:
a = -10
b = 10
c = -2

print(a!=2)
print(not(b>=a))
print(c/2>a*3)

True
False
True

In [ ]:
def tf(a, b, c):
  print(a > 2 or c > b and c > 2)
  print(not(a > 5 or b > c and c >= 3))

a, b, c = map(int, input('a b c : ').split())

tf(a, b, c)

a b c : -5 3 2
False
True

In [ ]:
a = -5
b = 3
c = 2

print(a > 2 or c > b and c > 2)
print(not(a > 5 or b > c and c >= 3))

False
True

In [ ]:
a = 10
b = 5
c = 7

print(a > 2 or c > b and c > 2)
print(not(a > 5 or b > c and c >= 3))

True
False

In [ ]:
a = -3
b = 10
c = 2

print(a > 2 or c > b and c > 2)
print(not(a > 5 or b > c and c >= 3))

False
True

In [ ]:
a = 2
z = a*5
w = (z-3)*(a-2)/7+10

print(w)

if a>z or w>a :
  y = 2*a
  print('if')

else :
  y = 4*a
  print('else')

print(y)

10.0
if
4

135 pg

In [ ]:
c = 0
m = ''

wat = int(input('단위를 입력하세요 (1. 섭씨, 2. 화씨) : '))
temp = int(input('온도를 입력하세요 : '))

if wat == 2:
  c = (temp - 32) * 5/9

if wat == 1:
  c = tmep

if c < 0 :
  m = '고체'

elif c > 100 :
  m = '기체'

else :
  m = '액체'

print('물의 섭씨 온도 : %.2f, 상태 : %s' %(c, m))

단위를 입력하세요 (1. 섭씨, 2. 화씨) : 2
온도를 입력하세요 : 80
물의 섭씨 온도 : 26.67, 상태 : 액체

In [ ]:
id = input('아이디를 입력하세요 : ')

if id == 'admin':
  print('모든 콘텐츠 이용 가능')

if id != 'admin':
  lv = int(input('회원 레벨을 입력해 주세요 : '))

  if 1 < lv < 8:
    print('일부 콘텐츠 이용 가능')

  else :
    print('콘텐츠 이용 불가')

아이디를 입력하세요 : rubato
회원 레벨을 입력해 주세요 : 3
일부 콘텐츠 이용 가능

In [ ]:
age = int(input('나이를 입력하세요 : '))

if age < 11:
  print('입장료는 1000원 입니다.')

elif age > 64:
  print('입장료는 0원 입니다.')

else :
  print('입장료는 2000원 입니다.')

나이를 입력하세요 : 6
입장료는 1000원 입니다.

In [ ]:
eng = int(input('영어시험 점수를 입력하세요 : '))
math = int(input('수학시험 점수를 입력하세요 : '))

if math <= 79 and eng <= 79:
  print('불합격')

elif math >= 80 and eng >= 80 :
  print('합격')

else :
  print('재시험 기회 제공')

영어시험 점수를 입력하세요 : 85
수학시험 점수를 입력하세요 : 75
재시험 기회 제공

172 pg

In [ ]:
n = 8

for i in range(n):
  if i == 0 or i == n-1:
    for j in range(n):
      print('*', end = '')

  else :
    print('*', end = '')

    for j in range(n-2):
      print(' ', end = '')

    print('*', end = '')

  print()

********
*      *
*      *
*      *
*      *
*      *
*      *
********

In [ ]:
sum = 0

for i in range(100):
  if i%2 == 1:
    if i == 99:
      print(i, end = '')

    else :
      print(i, end = ' + ')

    sum += i

print(' = %d' %sum)

1 + 3 + 5 + 7 + 9 + 11 + 13 + 15 + 17 + 19 + 21 + 23 + 25 + 27 + 29 + 31 + 33 + 35 + 37 + 39 + 41 + 43 + 45 + 47 + 49 + 51 + 53 + 55 + 57 + 59 + 61 + 63 + 65 + 67 + 69 + 71 + 73 + 75 + 77 + 79 + 81 + 83 + 85 + 87 + 89 + 91 + 93 + 95 + 97 + 99 = 2500

In [ ]:
n = int(input('N의 값을 입력하세요 : '))
sum = 0

for i in range(1, n+1):
  if i %2 == 0:
    sum += i ** (i-1)

print('N의 값 : %d' %n)
print('합계 : %d' %sum)

N의 값을 입력하세요 : 12
N의 값 : 12
합계 : 744010475682

In [ ]:
n = int(input('N 값을 입력해주세요 : '))

for a in range(2, n+1):
  prime_yes = True

  for i in range(2, a):
    if a%i == 0:
      prime_yes = False

      break

  if prime_yes :
    print(a, end = ' ')

N 값을 입력해주세요 : 200
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199

194 pg

In [ ]:
scores = [[96, 84, 80], [96, 86, 76], [76, 95, 83], [89, 96, 69], [90, 76, 91],\
          [82, 66, 88], [83, 86, 79], [85, 90, 83]]

for i in range(len(scores)):
  sum = 0

  for j in range(len(scores[i])):
    sum += scores[i][j]

  avg = sum/len(scores[i])

  print('%d번째 학생의 합계 : %d, 평균 : %.2f' %(i+1, sum, avg))

1번째 학생의 합계 : 260, 평균 : 86.67
2번째 학생의 합계 : 258, 평균 : 86.00
3번째 학생의 합계 : 254, 평균 : 84.67
4번째 학생의 합계 : 254, 평균 : 84.67
5번째 학생의 합계 : 257, 평균 : 85.67
6번째 학생의 합계 : 236, 평균 : 78.67
7번째 학생의 합계 : 248, 평균 : 82.67
8번째 학생의 합계 : 258, 평균 : 86.00