In [ ]:
score = [[98, 97, 95], [88, 85, 75], [100, 96, 59]]

print(score[0])
print(score[0][0])
print(score[0][1])
print(score[0][2])
print(score[0][0])
print(score[1][0])
print(score[2][0])

[98, 97, 95]
98
97
95
98
88
100

In [ ]:
score = [[96, 84, 80], [96, 86, 76], [76, 95, 83], [85, 96, 69], [90, 76, 91]]

for i in range(len(score)):
  sum = 0

  for j in range(len(score[i])):
    sum += score[i][j]

  av = sum / len(score[i])

  print('{}번째 학생의 합계 : {}, 평균 : {}' .format(i+1, sum, int(av)))

1번째 학생의 합계 : 260, 평균 : 86
2번째 학생의 합계 : 258, 평균 : 86
3번째 학생의 합계 : 254, 평균 : 84
4번째 학생의 합계 : 250, 평균 : 83
5번째 학생의 합계 : 257, 평균 : 85

In [ ]:
dict = {'a':'apple', 'b':'banana', 'c':'cherry'}

print(dict)
print(dict['a'])
print(dict['c'])

{'a': 'apple', 'b': 'banana', 'c': 'cherry'}
apple
cherry

In [ ]:
score = {'장도연':95, '박나래':78, '양세형':82, '유재석':80, '조세호':90}
sum = 0

for i in score:
  sum += score[i]

av = sum / len(score)

print(sum, av)

425 85.0

In [ ]:
n = int(input())
c = 0

while n>0:
  if n%10 == 3 or n%10 == 6 or n%10 == 9:
    c += 1

  n = n//10

  print(a, n)

103
3 10
0 1
1 0