In [ ]:
heroes = []
heroes.append("아이언맨")
heroes.append("토르")
print(heroes)

['아이언맨', '토르']

In [ ]:
heroes = ["아이언맨", "토르", "헐크"]
heroes.insert(1, "스파이더맨")
print(heroes)

['아이언맨', '스파이더맨', '토르', '헐크']

In [ ]:
list1 = list(range(1, 10))
print(list1)

list2 = list('ABCD')
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
['A', 'B', 'C', 'D']

In [ ]:
n = heroes.index("헐크")
print(n)

3

In [ ]:
if "헐크" in heroes:
    print(heroes.index("헐크"))

3

In [ ]:
heroes = ["아이언맨", "토르", "헐크", "스칼렛 위치", "헐크"]

n = heroes.index("헐크", 3)
print(n)

4

In [ ]:
if "토르" in heroes:
    heroes.remove("토르")

print(heroes)

['아이언맨', '헐크', '스칼렛 위치', '헐크']

In [ ]:
a = [3, 2, 1, 5, 4]
a.sort()
print(a)
a.sort(reverse = True)
print(a)

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [ ]:
numbers = [10, 3, 7, 1, 9, 4, 2, 8, 5, 6]

ascending_numbers = sorted(numbers) #원본 유지
print(ascending_numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
numbers = [10, 20, 30, 40, 50]

print("합 = ", sum(numbers))
print("최대값 = ", max(numbers))
print("최소값 = ", min(numbers))

합 =  150
최대값 =  50
최소값 =  10

In [ ]:
import random

numberList = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("랜덤하게 선택한 항목 = ", random.choice(numberList))

랜덤하게 선택한 항목 =  3

In [ ]:
import random

movie_list = ["Citizen Kane", "Singin' in the rain", "modern times", "casablanca", "city lights"]
item = random.choice(movie_list)
print("랜덤하게 선택한 항목 = ", item)

랜덤하게 선택한 항목 =  city lights

In [ ]:
i = 0
scores = []

for i in range(5):
    score = int(input("성적을 입력하십시오 : "))
    scores.append(score)
    i += 1

print("성적 평균 = ", (sum(scores))/len(scores))
print("최대 점수 = ", max(scores))
print("최소 점수 = ", min(scores))
print("80점 이상 = ", scores.count(80))

성적을 입력하십시오 : 10
성적을 입력하십시오 : 20
성적을 입력하십시오 : 60
성적을 입력하십시오 : 70
성적을 입력하십시오 : 80
성적 평균 =  48.0
최대 점수 =  80
최소 점수 =  10
80점 이상 =  1

In [ ]:
list1 = [1, 2, 3, 4, 15, 99]
list1.sort()
print("두번째로 큰 수 = ", list1[-2])

두번째로 큰 수 =  15

In [ ]:
list1 = [1, 2, 3, 4, 15, 99]
list1.remove(max(list1))
print("두번째로 큰 수 = ", max(list1))

두번째로 큰 수 =  15

In [ ]:
score = [10.0, 9.0, 8.3, 7.1, 3.0, 9.0]
score.remove(max(score))
score.remove(min(score))
print(score)

[9.0, 8.3, 7.1, 9.0]

In [ ]:
stack = []

for i in range(3):
    f = input("과일을 입력하시오 : ")
    stack.append(f)

for i in range(3):
    print(stack.pop())

과일을 입력하시오 : 사과
과일을 입력하시오 : 포도
과일을 입력하시오 : 오렌지
오렌지
포도
사과

In [ ]:
friend = []
num = 0

while (num != 9) :
    print("----------------------")
    print("1. 친구 리스트 출력 \n2. 친구 추가 \n3. 친구 삭제 \n4. 이름 변경 \n9. 종료")
    num = int(input("메뉴를 입력하세요 : "))

    if (num == 1):
        print(friend)

    elif (num == 2):
        name = input("이름을 입력하세요 : ")
        friend.append(name)

    elif (num == 3):
        del_name = input("삭제하고 싶은 이름을 입력하세요 : ")

        if del_name in friend:
            friend.remove(del_name)

        else:
            print("이름이 발견되지 않았음")

    elif (num == 4):
        old_name = input("변경하고 싶은 이름을 입력하세요 : ")

        if old_name in friend:
            index = friend.index(old_name)
            new_name = input("새로운 이름을 입력하세요 : ")
            friend[index] = new_name

        else:
            print("이름이 발견되지 않았음")

----------------------
1. 친구 리스트 출력
2. 친구 추가
3. 친구 삭제
4. 이름 변경
9. 종료
메뉴를 입력하세요 : 2
이름을 입력하세요 : 홍길동
----------------------
1. 친구 리스트 출력
2. 친구 추가
3. 친구 삭제
4. 이름 변경
9. 종료
메뉴를 입력하세요 : 1
['홍길동']
----------------------
1. 친구 리스트 출력
2. 친구 추가
3. 친구 삭제
4. 이름 변경
9. 종료
메뉴를 입력하세요 : 4
변경하고 싶은 이름을 입력하세요 : 홍길동
새로운 이름을 입력하세요 : 흥부
----------------------
1. 친구 리스트 출력
2. 친구 추가
3. 친구 삭제
4. 이름 변경
9. 종료
메뉴를 입력하세요 : 1
['흥부']
----------------------
1. 친구 리스트 출력
2. 친구 추가
3. 친구 삭제
4. 이름 변경
9. 종료
메뉴를 입력하세요 : 3
삭제하고 싶은 이름을 입력하세요 : 흥부
----------------------
1. 친구 리스트 출력
2. 친구 추가
3. 친구 삭제
4. 이름 변경
9. 종료
메뉴를 입력하세요 : 1
[]
----------------------
1. 친구 리스트 출력
2. 친구 추가
3. 친구 삭제
4. 이름 변경
9. 종료
메뉴를 입력하세요 : 9

In [ ]:
temp = [28, 31, 33, 35, 27, 26, 25]

value = temp

print(temp)
value[3] = 39
print(temp)

[28, 31, 33, 35, 27, 26, 25]
[28, 31, 33, 39, 27, 26, 25]

In [ ]:
temp = [28, 31, 33, 35, 27, 26, 25]
value = list(temp)

In [ ]:
import time

SIZE = 50000

s_time = time.time()
mylist = []
for i in range(SIZE):
    mylist = mylist + [i*i]

print("수행시간 = ", time.time() - s_time)

s_time = time.time()

mylist = []

for i in range(SIZE):
    mylist.append(i*i)

print("수행시간 = ", time.time() - s_time)

수행시간 =  4.441681146621704
수행시간 =  0.010548591613769531

In [ ]:
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90]

sublist = numbers[2:7]
print(sublist)

[30, 40, 50, 60, 70]

In [ ]:
print(numbers[:3])
print(numbers[3:])
print(numbers[:])

[10, 20, 30]
[40, 50, 60, 70, 80, 90]
[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
new_numbers = numbers[:]
print(new_numbers)

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [ ]:
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90]

sublist = numbers[2:7:2]
print(sublist)

[30, 50, 70]

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(numbers[::-2])

[10, 8, 6, 4, 2]

In [ ]:
numbers[1:] = []
print(numbers)

[1]