In [ ]:
innum = []
num = int(input("입력할 값의 개수 : "))
for i in range(num):
    f = int(input(""))
    innum.append(f)

sum = innum[0] + innum[1] + innum[2]

print("값의 합계 =", sum)

입력할 값의 개수 : 3
10
20
30
값의 합계 =  60

In [ ]:
import random

a = []
for i in range(10):
    num = random.randint(1, 100)
    a.append(num)

print(a)

[6, 37, 66, 100, 38, 18, 50, 95, 37, 97]

In [ ]:
star = "*"
space = " "
s_num = [20, 1, 12, 9, 18]

for i in range(len(s_num)):
    print(s_num[i], space*(10-len(str(s_num[i]))), star*s_num[i])
    i += 1

20          ********************
1           *
12          ************
9           *********
18          ******************

In [ ]:
list1 = list(range(1, 11))

print([-i if 3 <= i <= 8 else i for i in list1])

[1, 2, -3, -4, -5, -6, -7, -8, 9, 10]

In [ ]:
list1 = ['aba', 'xyz', 'abc', '121']
chnum = 0

for i in list1:
    if (len(i) > 1) and (i[0] == i[-1]):
        chnum += 1

print(list1)
print("문자열의 갯수 =", chnum)

['aba', 'xyz', 'abc', '121']
문자열의 갯수 =  2

In [ ]:
list1 = [1, 2, 3, 4, 5, 6]
list2 = [6, 7, 8, 9]

print("list1 =", list1)
print("list2 =", list2)

for i in list1:
    for j in list2:
        if i == j:
            TF = True
        else:
            TF = False

print(TF)

list1 =  [1, 2, 3, 4, 5, 6]
list2 =  [6, 7, 8, 9]
True

In [ ]:
list1 = ['a0', 'a1', 'a2', 'a3', 'a4', 'a5', 'a6', 'a7', 'a8', 'a9']

print("list1 =", list1)
print(random.choice(list1))

list1 =  ['a0', 'a1', 'a2', 'a3', 'a4', 'a5', 'a6', 'a7', 'a8', 'a9']
a0

In [ ]:
i = 0
list1 = []
list1 = list(map(int, input("5개의 수를 입력하세요 : ").split()))

print("합 =", sum(list1))
print("평균 =", sum(list1)/len(list1))
print("최댓값 =", max(list1))
print("최솟값 =", min(list1))

5개의 수를 입력하세요 : 1 2 3 4 5
합 =  15
평균 =  3.0
최댓값 =  5
최솟값 =  1

In [ ]:
s = input('5numbers : ')
s_list = []

for n in s.split():
    s_list.append(int(n))

print("합 =", sum(s_list))
print("평균 =", sum(s_list)/len(s_list))
print("최댓값 =", max(s_list))
print("최솟값 =", min(s_list))

5numbers : 1 2 3 4 5
합 =  15
평균 =  3.0
최댓값 =  5
최솟값 =  1

In [ ]:
list1 = ['abc', 'bcd', 'abc', 'abba', 'cddc', 'opq', 'opq']
n_list1 = []

for i in list1:
    if i not in n_list1:
        n_list1.append(i)

print("list1 =", list1)
print("n_list1 =", n_list1)

list1 =  ['abc', 'bcd', 'abc', 'abba', 'cddc', 'opq', 'opq']
n_list1 =  ['abc', 'bcd', 'abba', 'cddc', 'opq']